@import "tailwindcss";
body {
  background-color: #f5f8ff;
}
.logo {
  height: auto;
  width: max-content;
}
.f-margin {
  margin-left: 100px;
  margin-right: 100px;
}
@media (max-width: 767px) {
  .f-margin {
    margin: 100px 20px 40px 20px;
  }
}
@media (max-width: 768px) {
  .mobile-sec {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}
.navigation a {
  text-decoration: none;
  margin-left: 48px;
}
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
.color-nav {
  color: #8987a1;
}
.card {
  height: 485px;
  width: 255px;
  text-align: center;
}
.card img {
  width: max-content;
  height: 320px;
}
.card h1 {
  font-size: 22px;
  color: #111111;
  margin-top: 15px;
}
.card h2 {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
}
.card button {
  height: 50px;
  width: 100%;
  background-color: #e95a08;
  color: white;
  margin-top: 10px;
}
.card button:hover {
  background-color: rgba(34, 160, 188, 0.304);
  transform: scale(1.05);
  border-radius: 20px;
}
