@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
p {
  color: gray;
  font-weight: 300;
  font-size: 22px;
}
body {
  background-color: #f5f8ff;
  font-family: "Noto Serif", serif;
}
.logo {
  height: auto;
  width: max-content;
}
.f-margin {
  margin-left: 100px;
  margin-right: 100px;
}
.navigation a {
  text-decoration: none;
  margin-left: 48px;
}
.card {
  height: 485px;
  width: 255px;
  text-align: center;
}
.card img {
  width: max-content;
  height: 320px;
}
.card h1 {
  font-size: 22px;
  color: #111111;
  margin-top: 15px;
}
.card h2 {
  font-size: 22px;
  font-weight: bold;
  color: #111111;
}
.card button {
  height: 50px;
  width: 100%;
  background-color: #e95a08;
  color: white;
  margin-top: 10px;
}
.card button:hover {
  background-color: rgba(34, 160, 188, 0.304);
  transform: scale(1.05);
  border-radius: 20px;
}
.shop-img {
  width: 100%;
  height: 500px;
}
.plant-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 210px 210px;
  column-gap: 10px;
  row-gap: 10px;
}
.plant-container h1 {
  font-size: 20px;
  font-weight: bold;
}
.plant-container h3 {
  font-size: 16px;
  font-weight: 600;
}
.bloom-plant {
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  isolation: isolate;
  background-image: url(./assets/deal-bloom.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.bloom-plant::after {
  content: "";
  position: absolute;
  background-color: #111111;
  opacity: 0.5;
  inset: 0;
  z-index: -1;
}
.zabo-plant {
  grid-area: 1 / 2 / 3 / 4;
  background-image: url(./assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.zabo-plant::after {
  content: "";
  position: absolute;
  background-color: #111111;
  inset: 0;
  opacity: 0.5;
  z-index: -1;
}
.ana-plant {
  grid-area: 2 / 1 / 3 / 2;
  background-image: url(./assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.ana-plant::after {
  content: "";
  position: absolute;
  background-color: #111111;
  inset: 0;
  opacity: 0.45;
  z-index: -1;
}
.contact-us {
  height: 530px;
  width: 100%;
  margin: 120px 0 0 0;
  background-image: url(./assets/news-letter-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-us h1 {
  font-size: 50px;
  font-weight: bold;
  color: #f5f8ff;
}
.contact-us input {
  margin-top: 30px;
  background-color: #f5f8ff;
  color: #8987a1;
  width: 80%;
  height: 100%;
}
.input-feild {
  height: 50px;
  width: 830px;
}
.contact-us button {
  height: 100%;
  width: 20%;
  background-color: #e95a08;
  color: white;
}

@media (max-width: 768px) {
  .card-holder {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: min-content;
    max-width: 170px;
    margin: 20px auto;
  }
  .mobile-sec {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .hide-mobile {
    display: none;
  }
  .f-margin {
    margin: 100px 20px 40px 20px;
  }
  .color-nav {
    color: #8987a1;
  }
  .shop-img {
    max-width: 400px;
    max-height: 350px;
    margin-bottom: 20px;
  }
  .trusted-sec {
    flex-direction: column;
  }
  .mobile-font {
    font-size: 24px;
    font-weight: bold;
  }
  .mobile-font2 {
    font-size: 14px;
    font-weight: light;
    color: grey;
  }
  .mobile-font3 {
    font-weight: 600;
    font-size: 16px;
    font-family: "Inter", sans-serif;
  }
  .mobile-font3 h2 {
    font-weight: bolder;
  }
  .plant-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 80vw;
    gap: 20px;
    margin: 0 auto;
  }
  .bloom-plant {
    height: 184px;
    width: 100%;
  }
  .ana-plant {
    height: 184px;
    width: 100%;
  }
  .zabo-plant {
    height: 184px;
    width: 100%;
  }
  .contact-us {
    height: 275px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-us h1 {
    font-size: 20px;
    font-weight: bold;
  }
  .input-feild {
    width: 321px;
  }
  .input-feild button {
    font-size: 0.7rem;
    color: white;
  }
}
